.spotlight {
    padding-top: 105px;
    box-sizing: border-box;
    height: 400px;
    width: 460px;
    margin-left: auto;
    background-image:
      "linear-gradient(288deg, rgb(235, 244, 244) 50%, rgb(251, 253, 253) 45%, rgb(255, 255, 255) 85%, rgb(255, 255, 255) 100%)";
}

.spotlight-img {
    height: 9rem;
    width: 9rem;
    margin: auto;
    border-radius: 50%;
    background-size: cover;
}

.spotlight-img-bigsize {
    height: 26rem;
    width: 40rem;
    margin: auto;
    border-radius: 5%;
    background-size: cover;
}

.spotlight-label {
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
    font-size: 25px;
}